{% extends "base.html" %}

{% block title %}List Detail{% endblock %}

{% block content %}
<h1>List Detail</h1>

<h2>List: {{ list_instance.name }}</h2>
<p><strong>Comment:</strong> {{ list_instance.comment }}</p>
<p><strong>Extra Costs:</strong> {{ list_instance.extra_costs }} {{ currency }}</p>

<h2>List Entries</h2>
<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Extra Costs</th>
            <th>Total Price per Item</th>
            <th>Person</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in list_entries %}
        <tr>
            <td>{{ entry.pricelist_entry.item_name }}</td>
            <td>{{ entry.pricelist_entry.price }} {{ currency }}</td>
            <td>{{ entry.quantity }}</td>
            <td>{{ entry.extra_costs|default_if_none:"0" }} {{ currency }}</td> <!-- Display 0 if Extra Costs is None -->
            <td>{{ entry.total_cost }} {{ currency }}</td>
            <td>{{ entry.person|default_if_none:""|yesno:"|None" }}</td> <!-- Display empty string for 'Unknown' or None person -->
            <td>{{ entry.comment|default_if_none:"" }}</td> <!-- Display empty string for None comments -->
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Total Cost of List: {{ total_cost }} {{ currency }}</h2>

<h2>Breakdown by Person</h2>
<table>
    <thead>
        <tr>
            <th>Person</th>
            <th>Total Cost</th>
        </tr>
    </thead>
    <tbody>
        {% for person, cost in person_breakdown %}
        <tr>
            <td>{{ person|default_if_none:""|yesno:"|Unknown" }}</td> <!-- Display empty string for 'Unknown' or None person in breakdown -->
            <td>{{ cost }} {{ currency }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">No breakdown</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
